* {
    border-collapse: collapse;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex-direction: column;
}

#grid-container {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    width: 800px;
    margin-top: 20px;
    border: solid 2px black;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#change-grid {
    margin: 20px;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: yellow;
    cursor: pointer;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-cell {
    flex: 1 1 0;
    border: solid 1px black;
    aspect-ratio: 1 / 1;
    background-color: white;
}

